/*
    Color Blocks css
*/

@keyframes colorblocks_highlight {
    0% {
        filter: grayscale(0)
    }

    50% {
        filter: grayscale(1)
    }

    100% {
        filter: grayscale(0)
    }
}
